html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-family: Rubik, sans-serif;
  background-color: #ffffff;
}

.navbar {
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 2rem;
  z-index: 1000;
  position: fixed;
  flex-wrap: wrap;
  z-index: 1000;    
  transition: all 0.3s ease;
}
.navbar .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar.scrolled {
  background-color: #03abed48;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.navbar.show {
  transform: translateY(0);
}
.navbar.hide {
  transform: translateY(-200%);
}

.navbar .wrapper ul{
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

.navbar ul li a {
  font-family: Poppins;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
.secondary-nav {
  display: none;
}

@media screen and (max-width: 768px) {

  nav.main-nav,
  .navbar {
    display: none;
  }

  .secondary-nav {
    display: flex;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: clamp(250px, 90vw, 450px);
    height: 70px;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }

  .secondary-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 5px;
  }

  .secondary-nav ul li {
    list-style: none;
    flex: 1;
    text-align: center;
  }

  .secondary-nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #000;
    text-decoration: none;
  }

  .secondary-nav ul li a ion-icon {
    font-size: clamp(20px, 7vw, 35px);
    margin: 0 auto;
    transition: 0.3s;
    color: #000;
  }

  .secondary-nav ul li a:hover ion-icon,
  .secondary-nav ul li.active a ion-icon {
    font-size: clamp(25px, 8vw, 40px);
    color: #03aced;
  }
}

/*Header*/
header {
  background: linear-gradient(360deg, #ffffff, #86ddff67);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 150px 20px;
  height: auto;
}

header h1 {
  font-size: clamp(70px, 8vw, 80px);
  font-weight: 900;
  color: #03aced;
  line-height: 1;
  font-family: Poppins, sans-serif;
  margin-bottom: 20px;
}

header p {
  font-size: clamp(20px, 2.5vw, 26px);
}

header img {
  width: clamp(100px, 20vw, 300px);
  transform: rotate(300deg);
}

header button {
  font-family: Poppins;
  margin-top: 30px;
  background-color: #03aced;
  border: none;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: auto;
}

header button:hover {
  background-color: #00ddff;
}

@media screen and (max-width: 768px) {
  header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 0px;
    gap: 100px;
    height: 100dvh;
  }

  header img {
    margin-top: -100px;
  }
}

/*About*/
.about {
  background: linear-gradient(360deg, #86ddff67, #ffffff);
  padding: 80px 20px;
}

.about h1 {
  text-align: center;
  position: relative;
  font-size: 50px;
  margin-bottom: 40px;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.about img {
  width: clamp(200px, 50vw, 330px);
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}


.about p {
  font-size: 15px;
  max-width: 550px;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 768px) {
  .container2 {
    flex-direction: column;
    padding: 0 20px;
    gap: 50px;
    text-align: center;
  }

  .about p {
    text-align: justify;
  }
}

/*Services*/
.services {
  background: linear-gradient(360deg, #ffffff, #86ddff67);
  text-align: center;
  padding: 40px 20px;
  height: auto;
}

.services .container {
  padding: 20px 0;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 40px;
}

.services-card {
  background: white;
  padding: 20px;
  width: 200px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  border-bottom: 8px solid #03aced;
}

.services-card:hover {
  transform: scale(1.03);
  filter: brightness(95%);
}

.services-card img {
  max-height: 100px;
  object-fit: contain;
  margin-top: 40px;
  margin-bottom: 25px;
}

#services h2 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-card button {
  font-family: Poppins;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #03aced;
  border: none;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: auto;
}

.services-card button:hover {
  background-color: #00ddff;
}

.services-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.shoes-care {
  text-align: center;
  padding: 40px 20px;
  height: auto;
  background: linear-gradient(360deg, #86ddff14, #ffffff, #86ddff14);
}

.shoes-care-card {
  background: white;
  padding: 20px;
  width: 200px;
  height: auto;
  box-shadow: 0 8px 20px #00000027;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  border-bottom: 8px solid #03aced;
}

.shoes-care-card:hover {
  border-bottom: 8px solid #00ddff;
}

.shoes-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 40px;
}

.shoes-care-card:hover {
  transform: scale(1.05);
  filter: brightness(95%);
}

.container h1 {
  font-size: 50px;
}

.shoes-care-card h2 {
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
  margin-top: 30px;
}

.shoes-care-card h3 {
  font-size: 12px;
  margin-bottom: 30px;
  font-weight: normal;
  margin-top: auto;
  color: #555;
}

.shoes-care-card p {
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  margin-top: auto;
}

.shoes-care-card button {
  font-family: Poppins;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #03aced;
  border: none;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: auto;
}

.shoes-care-card button:hover {
  background-color: #00ddff;
}

/*Location*/
.location {
  background: linear-gradient(360deg, #86ddff67, #ffffff);
  text-align: center;
  padding: 40px 20px;
  height: auto;
}

.location.container {
  padding: 20px 0;
}

.location-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 40px;
}

.location-card {
  background: white;
  padding: 20px;
  width: 230px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  border-bottom: 8px solid #03aced;
  justify-content: space-between;
}

.location-card:hover {
  transform: scale(1.03);
  filter: brightness(95%);
}

.location-card img {
  width: 30%;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 25px;
}

.location-card ion-icon {
  font-size: 50px;
  color: #03aced;
  margin-top: 40px;
  margin-bottom: 25px;
}

#location h2 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.location-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.location-card p {
  font-size: 16px;
  margin-bottom: 30px;
}

.location-card button {
  font-family: Poppins;
  margin-top: 30px;
  background-color: #03aced;
  border: none;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: auto;
}

.location-card button:hover {
  background-color: #00ddff;
}

/*Review*/
.review {
  background: linear-gradient(360deg, #ffffff, #86ddff67);
  padding: 60px 20px;
  text-align: center;
}

#review h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

.reviews-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
}

.review-card {
  background: white;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  border-bottom: 5px solid #8a8a8a;
}

.review-card:hover {
  transform: scale(1.05);
}

.reviews-name {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.check-icon {
  color: #ffffff;
  margin-left: 8px;
  font-size: 18px;
  background-color: #007bff;
  border-radius: 50%;
}

.reviews-text {
  font-size: 16px;
  color: #555;
  font-style: italic;
}
@media (max-width: 1366px) {
  html {
    font-size: 75%;
    .navbar {
      max-width: 1024px;
    }
  }
}
@media (max-width: 764px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

.footer{
    width: 100%;
    height: 50vh;
    background-color: #007bff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    background-image: linear-gradient(#006fa6);
}

.footer .social-icons{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}

.slog h1{
  font-size: 40px;
  color: #fff;
}

.social-icons a ion-icon {
  font-size: 80px;  
  color: white;          
  transition: all 0.5s;
}

.social-icons a:hover ion-icon {
  color: #03aced;          
}

.logo1 img{
  width: 200px;
}

.copyright{
    background-color: #ffffff;
    padding: 1rem;
    color: #000000;
    bottom: 0;
    text-align: center;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 50px;
    height: auto;
  }

  .footer .logo1 img {
    width: 150px;
    margin-top: 50px;
  }

  .slog h1 {
    font-size: 28px;
  }

  .social-icons a ion-icon {
    font-size: 50px;
    margin-bottom: 70px;
  }
}